body{font-family:Arial,Helvetica,sans-serif;margin:0;background:#F9FAFA;color:#000;background:#F9FAFA url('images/') repeat;}
ul{margin:5px;padding-left:20px;}
.BodyContent{position:relative;left:0;top:0;width:100%;margin:0 auto 0 auto;}
.BackgroundGradient{position:absolute;left:0;top:0;width:100%;height:100%;z-index:-1000;background:url('images/BackgroundGradient.png') repeat-x;}
.Border{position:relative;z-index:1;overflow:hidden;padding:25px 25px 25px 25px;color:#000;font-size:13px;}
.Border a{color:#06183A;text-decoration:underline;}
.Border a:visited{color:#06183A;text-decoration:underline;}
.Border a:hover{color:#000;text-decoration:none;}
.BorderBorder{z-index:0;position:relative;margin:0;}
.BorderTL,.BorderTR,.BorderBL,.BorderBR,.BorderL,.BorderT,.BorderR,.BorderB,.BorderC{position:absolute;z-index:-1;overflow:hidden;}
.BorderTL,.BorderTR,.BorderBL,.BorderBR{width:52px;height:52px;}
.BorderTL{top:0;left:0;background-image:url('images/BorderCorners.png');}
.BorderTR div,.BorderBL div,.BorderBR div{height:104px;width:104px;position:absolute;z-index:-1;background-image:url('images/BorderCorners.png');}
.BorderTR div{left:-52px;}
.BorderBL div{top:-52px;}
.BorderBR div{left:-52px;top:-52px;}
.BorderTR{top:0;right:0;}
.BorderBL{bottom:0;left:0;}
.BorderBR{bottom:0;right:0;}
.BorderT,.BorderB{left:52px;right:52px;height:52px;}
.BorderT{top:0;background-image:url('images/BorderHorizontal.png');}
.BorderB{bottom:0;}
.BorderB div{position:absolute;z-index:-1;top:-52px;height:104px;width:100%;background-image:url('images/BorderHorizontal.png');}
.BorderL,.BorderR{top:52px;bottom:52px;width:52px;}
.BorderL{left:0;background-image:url('images/BorderVertical.png');}
.BorderR{right:0;}
.BorderR div{position:absolute;z-index:-1;left:-52px;width:104px;height:100%;background-image:url('images/BorderVertical.png');}
.BorderC{left:52px;top:52px;right:52px;bottom:52px;background-image:url('images/BorderCenter.png');}
.BorderBorder{width:900px;margin:10px auto;}
.Header{position:relative;background-image:url('images/Header.png');background-repeat:no-repeat;padding:0;height:125px;color:#FFF;}
.HeaderTitle{height:125px;width:900px;display:table-cell;text-align:Default;vertical-align:Middle;color:#FFF;font-size:18px;text-decoration:none;font-style:normal;font-weight:bold;}
.HeaderTitle h1 a,.HeaderTitle h1 a:link,.HeaderTitle h1 a:visited,.HeaderTitle h1 a:hover{text-decoration:none;color:inherit;}
.HeaderTitle h1{margin:0;padding:0 8px;color:#FFF;font-size:26px;text-decoration:none;font-style:normal;font-weight:bold;}
.HeaderTitle h2{margin:0;padding:0 8px;font-size:inherit;font-weight:inherit;}
.Menu{background:transparent url('images/MenuBar.png') no-repeat;padding:5px 5px 0 5px;margin:0;text-align:Default;}
.Menu ul{list-style-type:none;padding:0;margin:0;color:#000;}
.Menu li{display:inline;padding:0;margin:0;}
.MenuButton,.MenuButtonInput{border:0;margin:0;background:transparent url('images/MenuButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:25px;padding:0 0 0 18px;display:inline-block;color:#000;font-size:13px;vertical-align:middle;zoom:1;}
.MenuButton span,.MenuButtonInput span{border:0;margin:0;background:transparent url('images/MenuButton.png') no-repeat right top;display:block;position:relative;color:#000;line-height:15px;}
.MenuButton span{padding:5px 18px 5px 0;}
.MenuButtonInput span{padding:0 18px 0 0;height:25px;}
.MenuButtonInput input{color:#000;font-size:13px;color:inherit;height:25px;padding:0 18px;margin:0 -18px;overflow:visible;cursor:pointer;background:Transparent;border:0;*left:-18px;}
.MenuButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.MenuButton,.MenuButton:link,.MenuButton:visited,.MenuButton:hover,.MenuButton:active{text-decoration:none!important;outline:none;}
.MenuButton:hover,.MenuButtonInput:hover{background-position:left center;}
.MenuButton:hover span,.MenuButtonInput:hover span{background-position:right center;color:#FFF;}
.MenuButton:active,.MenuButtonInput:active{background-position:left bottom;}
.MenuButton:active span,.MenuButtonInput:active span{background-position:right bottom;color:#000;}
.ActiveMenuButton,.ActiveMenuButtonInput{border:0;margin:0;background:transparent url('images/ActiveMenuButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:25px;padding:0 0 0 18px;display:inline-block;color:#000;font-size:13px;vertical-align:middle;zoom:1;}
.ActiveMenuButton span,.ActiveMenuButtonInput span{border:0;margin:0;background:transparent url('images/ActiveMenuButton.png') no-repeat right top;display:block;position:relative;color:#000;line-height:15px;}
.ActiveMenuButton span{padding:5px 18px 5px 0;}
.ActiveMenuButtonInput span{padding:0 18px 0 0;height:25px;}
.ActiveMenuButtonInput input{color:#000;font-size:13px;color:inherit;height:25px;padding:0 18px;margin:0 -18px;overflow:visible;cursor:pointer;background:Transparent;border:0;*left:-18px;}
.ActiveMenuButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.ActiveMenuButton,.ActiveMenuButton:link,.ActiveMenuButton:visited,.ActiveMenuButton:hover,.ActiveMenuButton:active{text-decoration:none!important;outline:none;}
.ActiveMenuButton:hover,.ActiveMenuButtonInput:hover{background-position:left center;}
.ActiveMenuButton:hover span,.ActiveMenuButtonInput:hover span{background-position:right center;color:#FFF;}
.ActiveMenuButton:active,.ActiveMenuButtonInput:active{background-position:left bottom;}
.ActiveMenuButton:active span,.ActiveMenuButtonInput:active span{background-position:right bottom;color:#000;}
.Columns{overflow:hidden;}
.Column1{overflow:hidden;float:left;width:20%;}
.Column2{overflow:hidden;float:right;width:20%;}
.MainColumn{overflow:hidden;}
img{border:0;}
h2{margin:0;}
blockquote{width:80%;color:#000;border:solid 1px #333;background:#FFF;margin:0 auto;padding:15px;-webkit-border-radius:5px;-moz-border-radius:5px;}
blockquote a,blockquote a:link{color:#369!important;text-decoration:underline;}
blockquote a:visited{color:#369!important;text-decoration:underline;}
blockquote a:hover{color:#000!important;text-decoration:none;}
.Article{position:relative;z-index:1;overflow:hidden;padding:10px 10px 10px 10px;color:#000;font-size:13px;}
.Article a{color:#061738;text-decoration:underline;}
.Article a:visited{color:#061738;text-decoration:underline;}
.Article a:hover{color:#000;text-decoration:none;}
.ArticleBorder{z-index:0;position:relative;margin:5px;}
.ArticleTL,.ArticleTR,.ArticleBL,.ArticleBR,.ArticleL,.ArticleT,.ArticleR,.ArticleB,.ArticleC{position:absolute;z-index:-1;overflow:hidden;}
.ArticleTL,.ArticleTR,.ArticleBL,.ArticleBR{width:8px;height:8px;}
.ArticleTL{top:0;left:0;background-image:url('images/ArticleCorners.png');}
.ArticleTR div,.ArticleBL div,.ArticleBR div{height:16px;width:16px;position:absolute;z-index:-1;background-image:url('images/ArticleCorners.png');}
.ArticleTR div{left:-8px;}
.ArticleBL div{top:-8px;}
.ArticleBR div{left:-8px;top:-8px;}
.ArticleTR{top:0;right:0;}
.ArticleBL{bottom:0;left:0;}
.ArticleBR{bottom:0;right:0;}
.ArticleT,.ArticleB{left:8px;right:8px;height:8px;}
.ArticleT{top:0;background-image:url('images/ArticleHorizontal.png');}
.ArticleB{bottom:0;}
.ArticleB div{position:absolute;z-index:-1;top:-8px;height:16px;width:100%;background-image:url('images/ArticleHorizontal.png');}
.ArticleL,.ArticleR{top:8px;bottom:8px;width:8px;}
.ArticleL{left:0;background-image:url('images/ArticleVertical.png');}
.ArticleR{right:0;}
.ArticleR div{position:absolute;z-index:-1;left:-8px;width:16px;height:100%;background-image:url('images/ArticleVertical.png');}
.ArticleC{left:8px;top:8px;right:8px;bottom:8px;background-image:url('images/ArticleCenter.png');}
.Article h2{color:#000;font-size:22px;text-decoration:none;font-style:normal;font-weight:bold;}
.Article h2 a,.Article h2 a:visited{color:#000;text-decoration:none;}
.Article h2 a:hover{text-decoration:underline;}
.Block{position:relative;z-index:1;overflow:hidden;padding:0;color:#000;font-size:13px;margin:10px;}
.Block a{color:#06183A;text-decoration:underline;}
.Block a:visited{color:#06183A;text-decoration:underline;}
.Block a:hover{color:#000;text-decoration:none;}
.BlockHeader{border:0;margin:0;background:transparent url('images/BlockHeaderAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:25px;padding:0 0 0 18px;display:block;color:#FFF;font-size:13px;font-weight:bold;vertical-align:middle;zoom:1;}
.BlockHeader span{border:0;margin:0;background:transparent url('images/BlockHeader.png') no-repeat right top;display:block;position:relative;color:#FFF;line-height:15px;}
.BlockHeader span{padding:5px 18px 5px 0;}
.BlockHeader{margin:0 0 2px 0;}
.BlockContentBorder{position:relative;z-index:1;overflow:hidden;padding:6px 6px 6px 6px;color:#000;font-size:13px;}
.BlockContentBorder a{color:#369;text-decoration:underline;}
.BlockContentBorder a:visited{color:#369;text-decoration:underline;}
.BlockContentBorder a:hover{color:#000;text-decoration:none;}
.BlockContentBorderBorder{z-index:0;position:relative;margin:0;}
.BlockContentBorderTL,.BlockContentBorderTR,.BlockContentBorderBL,.BlockContentBorderBR,.BlockContentBorderL,.BlockContentBorderT,.BlockContentBorderR,.BlockContentBorderB,.BlockContentBorderC{position:absolute;z-index:-1;overflow:hidden;}
.BlockContentBorderTL,.BlockContentBorderTR,.BlockContentBorderBL,.BlockContentBorderBR{width:18px;height:18px;}
.BlockContentBorderTL{top:0;left:0;background-image:url('images/BlockContentBorderCorners.png');}
.BlockContentBorderTR div,.BlockContentBorderBL div,.BlockContentBorderBR div{height:36px;width:36px;position:absolute;z-index:-1;background-image:url('images/BlockContentBorderCorners.png');}
.BlockContentBorderTR div{left:-18px;}
.BlockContentBorderBL div{top:-18px;}
.BlockContentBorderBR div{left:-18px;top:-18px;}
.BlockContentBorderTR{top:0;right:0;}
.BlockContentBorderBL{bottom:0;left:0;}
.BlockContentBorderBR{bottom:0;right:0;}
.BlockContentBorderT,.BlockContentBorderB{left:18px;right:18px;height:18px;}
.BlockContentBorderT{top:0;background-image:url('images/BlockContentBorderHorizontal.png');}
.BlockContentBorderB{bottom:0;}
.BlockContentBorderB div{position:absolute;z-index:-1;top:-18px;height:36px;width:100%;background-image:url('images/BlockContentBorderHorizontal.png');}
.BlockContentBorderL,.BlockContentBorderR{top:18px;bottom:18px;width:18px;}
.BlockContentBorderL{left:0;background-image:url('images/BlockContentBorderVertical.png');}
.BlockContentBorderR{right:0;}
.BlockContentBorderR div{position:absolute;z-index:-1;left:-18px;width:36px;height:100%;background-image:url('images/BlockContentBorderVertical.png');}
.BlockContentBorderC{left:18px;top:18px;right:18px;bottom:18px;background-image:url('images/BlockContentBorderCenter.png');}
.Button,.ButtonInput{border:0;margin:0;background:transparent url('images/ButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:37px;padding:0 0 0 25px;display:inline-block;color:#000;font-size:13px;vertical-align:middle;zoom:1;}
.Button span,.ButtonInput span{border:0;margin:0;background:transparent url('images/Button.png') no-repeat right top;display:block;position:relative;color:#000;line-height:13px;}
.Button span{padding:12px 25px 12px 0;}
.ButtonInput span{padding:0 25px 0 0;height:37px;}
.ButtonInput input{color:#000;font-size:13px;color:inherit;height:37px;padding:0 25px;margin:0 -25px;overflow:visible;cursor:pointer;background:Transparent;border:0;*left:-25px;}
.ButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.Button,.Button:link,.Button:visited,.Button:hover,.Button:active{text-decoration:none!important;outline:none;}
.Button:hover,.ButtonInput:hover{background-position:left center;}
.Button:hover span,.ButtonInput:hover span{background-position:right center;color:#FFF;}
.Button:active,.ButtonInput:active{background-position:left bottom;}
.Button:active span,.ButtonInput:active span{background-position:right bottom;color:#000;}
.Footer{color:#000;font-size:13px;text-align:Center;background:url('images/Footer.png') bottom left;overflow:hidden;padding:5px 22px;}
.Footer a{color:#000;text-decoration:underline;}
.Footer a:visited{color:#000;text-decoration:underline;}
.Footer a:hover{color:#000;text-decoration:none;}
.BackLink{text-align:center;display:block;display:block;font-size:11px;padding:0 0 12px;color:#000;}
.BackLink a{color:#000;}


table.bottomBorder { border-collapse:collapse; table-layout:fixed; }
table.bottomBorder tr { height:1em; }
table.bottomBorder td { max-width:150px; overflow:hidden; }
table.bottomBorder th { overflow:hidden; word-wrap:break-word; border-bottom:1px dotted black; padding:5px; }
                
